<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="OpenGraph.NET" type="Facebook.OpenGraph.Configuration.OpenGraphConfigurationSection, Facebook.Graph"/>
        <section name="OpenGraph.NET-Web" type="Facebook.OpenGraph.Configuration.OpenGraphWebConfigurationSection, Facebook.Graph.Web"/>
    </configSections>

    <OpenGraph.NET>
        <Applications>
            <App Name="Flash Publish Test" ID="105776146120542" Secret="119be93aaf1f76b935ceca8eff9627ee"/>
        </Applications>
    </OpenGraph.NET>

    <OpenGraph.NET-Web>
        <Handlers>
            <Handler For="Flash Publish Test" FullUri="http://robpaveza.net/opengraph.net/Authorize.axd"/>
        </Handlers>
    </OpenGraph.NET-Web>
    
</configuration>